{% extends 'header&footer.html' %}
{% load static %}

{% block content %}

    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title">
                            About Us </h2>
                        <p class="inner-page-para mt-2">
                            Better Agriculture
                            for Better Future</p>
                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> About Us</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/ab-->
    <section class="w3l-banner-agency py-5" id="work">
        <div class="midd-w3 py-md-4">
            <div class="container">
                <div class="about-img-top mb-lg-5 mb-4">
                    <img src="{% static 'assets/images/banner2.jpg' %}" alt="" class="img-fluid radius-image">
                </div>
                <div class="row">
                    <div class="col-lg-6 banner-content align-self">
                        <h6 class="title-subw3hny">About Us</h6>
                        <h3 class="title-w3l">Agriculture & Organic<br> Product Form</h3>
                        <div class="w3banner-content-btns">
                            <a href="/about.html/" class="btn btn-style btn-primary mt-lg-5 mt-4 me-2">Read More <i class="fas fa-arrow-right ms-2"></i></a>
                            <a href="contact.html" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Contact Us <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-left ps-lg-5 mt-lg-0 mt-md-5 mt-4">
                        <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel.
                            Lorem ipsum dolor sit amet elit. Non quae, fugiat nihil ad.Lorem ipsum viverra feugiat. Pellen tesque
                            libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet elit. Non quae
                            Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//ab-->
    <section class="w3l-blog-se-3 py-5" id="ab-grids">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-md-4 py-2">
                <!--/services-grids-->
                <div class="row blog-sec">
                    <div class="col-lg-4 manager-img mb-lg-0 mb-md-5 mb-4 pe-lg-5">
                        <h6 class="title-subw3hny">Why Choose Us</h6>
                        <h3 class="title-w3l">Growing Healthy Food</h3>
                        <p class="card-text mt-3">
                            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo in
                            ligula.
                        </p>
                        <a href="tel:+44-123-456-78" class="btn btn-style btn-primary mt-lg-5 mt-4"><span class="fas fa-phone-alt" aria-hidden="true"></span> +00-123-456-78</a>


                    </div>
                    <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left">
                        <div class="card img">
                            <div class="card-body img">
                                <a href="#" class="d-block zoom radius-image"><img src="{% static 'assets/images/a2.jpg' %}" alt="" class="img-fluid radius-image"></a>
                                <div class="blog-des mt-4">
                                    <h5 class="card-title mt-4">Our Mission</h5>
                                    <p class="card-text">Nulla eu elementum quam. magna purus, nec. semper at vel,
                                        ipsum dolor et init.Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in
                                        ligula.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-md-0 mt-5">
                        <div class="card img">
                            <div class="card-body img">
                                <a href="#" class="d-block zoom radius-image"><img src="{% static 'assets/images/a3.jpg' %}" alt="" class="img-fluid radius-image"></a>
                                <div class="blog-des mt-3">
                                    <h5 class="card-title mt-4">Our Vision</h5>
                                    <p class="card-text">Nulla eu elementum quam. magna purus, nec. semper at vel,
                                        ipsum dolor et init.Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in
                                        ligula.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- team -->
    <section class="w3l-team py-5" id="w3l-team">
        <div class="container py-md-5">
            <div class="row text-left">
                <div class="col-md-6 mt-md-5 pe-lg-5">
                    <div class="title-content text-left">
                        <h6 class="title-subw3hny">Our Team</h6>
                        <h3 class="title-w3l mb-3">Expert Farmers</h3>
                        <p>Aliquam blandit vel sapien eget aliquam. Phasellus eget volutpat libero. Suspendisse eleifend nibh quis
                            dui placerat fermentum.n molestie nulla felis, vitae feugiat justo pulvinar et.</p>
                        <a class="btn btn-style btn-primary mt-md-5 mt-4" href="#"> Join Our Team <span class="fas fa-arrow-right ms-2"></span></a>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="{% static 'assets/images/team5.jpg' %}" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>John Harris</h4>
                    <h6>Description</h6>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="assets/images/team6.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Scott Colon</h4>
                    <h6>Description</h6>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="{% static 'assets/images/team1.jpg' %}" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>John Doe</h4>
                    <h6>Description</h6>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="{% static 'assets/images/team2.jpg' %}" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Alexander</h4>
                    <h6>Description</h6>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="{% static 'assets/images/team3.jpg' %}" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Martin ker </h4>
                    <h6>Description</h6>
                </div>
                <div class="col-md-3 col-6 mt-5">
                    <div class="team-grids text-center">
                        <img src="{% static 'assets/images/team4.jpg' %}" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Elizabeth </h4>
                    <h6>Description</h6>
                </div>
            </div>

        </div>
    </section>
    <!-- team -->
    <!--/footer-->
   
{% endblock %}